.App {
  display: flex;
  flex-direction: column;
}

.mainSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.middleSection{
  width: 100%;
  display: flex;
  justify-content: center;
}
